<md-toolbar color="primary">
  <span class="title">Commander</span>
</md-toolbar>



<div class="content">
<md-card>
	<md-input-container>
		<input md-input placeholder="Filter by">
	</md-input-container>
<button md-fab (click)="openDialog()"><md-icon>add</md-icon></button>
	<md-list color="accent">
		<md-list-item  *ngFor="let command of commands">
			<h3 md-line>{{command.name}}</h3>
			<p md-line>
				<md-chip-list >
					<md-chip selected="true" *ngFor="let tag of command.tags" >{{tag}}</md-chip>
				</md-chip-list>
			</p>
		</md-list-item>
		
	</md-list>
	
</md-card>
</div>

